.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.accueil-background {
  background-image: url('/images/accueil_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1; 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}


.accueil-content {
  max-width: 900px;
}

.accueil-container h1{
  text-align: center;
  margin-top: 20vw;
  color: #ffffff !important; 
}

.accueil-title {
  font-size: 5rem;
  font-weight: bold;
  color: #111; /* noir pour le titre principal */
}

.accueil-container p {
  font-size: 1.2rem;
  color: #d1d1d1 !important; /* texte légèrement plus clair que le titre */
  margin-top: 1rem;
}